.headerContainer {
  // background: var(--white);
  background: var(--black);
  height: 6.5rem;

  display: flex;
  align-items: center;
  padding: 2rem 4rem;

  border-bottom: 1px solid var(--gray-100);
    a {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      text-decoration: none;
      color: var(--gray-500);
      img{
        cursor: pointer;
      }
    }
    p {
      margin-left: 2rem;
      padding: 0.25rem 0 0.25rem 2rem;
      border-left: 1px solid var(--gray-100);
    }

  span {
    margin-left: auto;
    text-transform: capitalize;
  }
}
